body, body * {
  all: unset;
}

:root {
  --clr-cleared-1: #7bb7ff;
  --clr-cleared-2: #56a3ff;
}

body {
  background: var(--clr-cleared-1);
}

.main {
  position: absolute;
  inset: 0;
  display: block;
}